@import "./modal.css";

@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  /* font-family: "Bricolage Grotesque", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}
.parallax-container {
  position: relative;
  height: 200vh; /* or however tall you want the container */
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.layer1 {
  background-color: lightblue;
}

.layer2 {
  background-color: lightgreen;
}

.layer3 {
  background-color: lightcoral;
}

img {
  will-change: transform;
}

.bg-button-gradient {
  @apply bg-gradient-to-t from-[#adcbf325] to-[#ADCBF31A];
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#ADCBF3] to-[#DAE9FD];
}

.button-gradient {
  @apply bg-gradient-to-b from-[#ADCBF3]/10 bg-opacity-10 to-[#ADCBF3]/20 border border-[#ADCBF3]/10 px-[18px] py-[10px] rounded-full outline-none hover:bg-[#ADCBF3]/20 hover:border-[#ADCBF3]/20 hover:text-white transition-all duration-200;
}
.bg-radial-gradient {
  background: radial-gradient(
    circle,
    rgba(173, 203, 243, 0.05) 20%,
    rgba(173, 203, 243, 0.1) 100%
  );
}
