@import "./modal.css";
@import "./button-wallet.css";

@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  font-family: "Golos Text", sans-serif;
  color: #fff;
}

.wallet-adapter-modal-list .wallet-adapter-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  gap: 10px !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.wallet-adapter-button {
  display: flex;
  flex-direction: row;
  justify-content: start !important;
  align-items: center;
  padding: 15px 20px;
  gap: 10px !important;
  background: radial-gradient(
    63.86% 63.86% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 100%
  ) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 70px !important;
}
.wallet-adapter-button-start-icon {
  margin-right: 0 !important;
}

.info-wallet .wallet-adapter-button .wallet-adapter-button-start-icon {
  display: none !important;
}
.info-wallet .wallet-adapter-button {
  background: transparent !important;
  border: none !important;
  padding: 0 4px !important;
}
.wallet-face-off .wallet-adapter-modal-title {
  padding: 24px 60px !important;
}
.wallet-adapter-button-start-icon img {
  height: 20px !important;
}

.border-card {
  @apply border border-solid border-white border-opacity-10;
}
.card {
  @apply bg-gradient-light p-4 rounded-xl border-card bg-opacity-10 backdrop-blur-md;
}
@media (max-width: 768px) {
  .wallet-adapter-button {
    padding: 8px 12px !important;
    height: 40px !important;
  }
}
